<h1>Posts</h1>
<%= link_to 'New Article', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Posts</th>
    
  </tr>
  
  <% @article.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= link_to 'Show', article_path(article) %></td>
  </tr>
  
  <% end %>
  
</table>